---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About me</title>
  </head>
  <body>
      <a href="/"> Home </a>
      <a href="/about/"> About </a>

    <h1>About</h1>
    <p1> I am working through Astro's introductory tutorial. 
    This is a second page on my website, and it's the first one i built myself </p>
    <p> This website will update as i complete more of the tutorial, so keep checking backk and see how my journey is going ! </p>

  </body>
</html>
